<% @shifts.each do |shift| %>
  <table>
    <tr>
      <th><%= t ('shifts.table_headers.studio_html') %></th>
       <th><%= t ('shifts.table_headers.hours_html') %></th>
       <th><%= t ('shifts.table_headers.date_html') %></th>
    </tr>
      <tr>
        <th><%= shift.studio %></th>
        <th><%= shift.hour %></th>
        <th><%= shift.date.strftime("%d/%m/%y")%></th>
    </tr>
  </table>
  <%= link_to 'Edit', edit_shift_path(shift) %> |
  <%= link_to 'Delete', shift_path(shift), method: :delete %>
<% end %>
<br>
<%= link_to 'Create shift', new_shift_path %>