<% @shifts.each do |shift| %>
  <table>
    <tr>
      <th><%= t ('shifts.table_headers.studio_html') %></th>
       <th><%= t ('shifts.table_headers.starting_at_html') %></th>
       <th><%= t ('shifts.table_headers.duration_html') %></th>
    </tr>
      <tr>
        <th><%= shift.studio %></th>
        <th><%= shift.starting_at.strftime("%d/%m/%y %H:%M")%></th>
        <th><%= shift.duration%></th>
    </tr>
  </table>
  <%= link_to 'Edit', edit_shift_path(shift) %> |
  <%= link_to 'Delete', shift_path(shift), method: :delete %>
<% end %>
<br>
<%= link_to 'Create shift', new_shift_path %>