<% @shifts.each do |shift| %>
  <table>
    <tr>
      <th>Studio</th>
      <th>Hours</th>
      <th>Date</th>
      <th>User</th>
    </tr>
      <tr>
        <th><%= shift.studio %></th>
        <th><%= shift.hour %></th>
        <th><%= shift.date.strftime("%d/%m/%y")%></th>
        <th><%= shift.user_id %></th>
    </tr>
  </table>
  <%= link_to 'Show', shift_path(shift) %>
<% end %>
<br>
<%= link_to 'Create shift', new_shift_path %>