<table>
  <tr>
    <th>Studio</th>
    <th>Hours</th>
    <th>Date</th>
    <th>User</th>
  </tr>
    <tr>
    <th><%= @shift.studio %></th>
    <th><%= @shift.hour %></th>
    <th><%= @shift.date.strftime("%d/%m/%y") %></th>
    <th><%= @shift.user_id %></th>
  </tr>
</table>

<%= link_to 'Edit', edit_shift_path(@shift)%> | <%= link_to 'Delete', shift_path(@shift), method: :delete %>